<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function button_handle(button_id) {
            random = document.getElementById("random").checked;
            window.location.href = window.location.href + `/${button_id}?random=${random}`;
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Category Selection</h1>
        <h3>Please select from the below list of categories</h3>
        <p>This will provide a list of possible cocktails, or you can check the box below to have our hyper-intelligent system select the perfect one for you.</p>

        <!-- We need to dynamically generate buttons for each of the categories provided -->
        {% for category in categories %}
            <button class="btn btn-info m-1" onclick="button_handle(`{{category}}`)"">{{category}}</button>
        {% endfor %}
        <form>
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="random" name="random">
                <label class="form-check-label" for="random">Random suggestion?</label>
            </div>    
        </form>
        
    </div>
    <script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
</body>