<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function button_handle() {
            window.location.href = `../../`;
        }
    </script>
</head>

<body>
    <div class="container">
        <!-- We alter the page content depending on the list of items passed through -->
        <h1>Cocktail Choice{% if choices|length != 1 %}s{% endif %}</h1>
        <h3 class="mb-5">See below for your optimal drink{% if choices|length != 1 %}s{% endif %}!</h3>
        {% for choice in choices %} 
            <div class="card m-3"><h5 class="card-title p-3">{{choice}}</h5></div>
        {% endfor %}

        {% if choices|length == 0 %} 
        <div class="alert alert-danger">Oh no! Something has gone wrong, please select another option for now</div>
        
        {% endif %}
        
        <button class="btn btn-info m-1" onclick="button_handle()">Make another choice</button>

    </div>
    <script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
</body>